{% extends 'base.html.twig' %}

{% block title %}My Quizz - Vérification Email{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container d-flex flex-column align-items-center">
        <h1 id="title_quiz">Vérification email</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div> 
        {% endfor %}
        
        <div class="container-quiz">
            <div class="row container-quiz-layout d-flex flex-column align-items-center">
                <p>Veuillez vérifier votre email pour pouvoir jouer !</p>
            </div>
        </div>
    </div>
{% endblock %}