<p style="font-size: 16px;">
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Le lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p style="font-size: 16px;">
    Merci !
</p>
