#title {
    font-family: 'Acme', sans-serif;
    margin-bottom: 60px;
    padding: 0.5em;
    color: #4476C5;
}

#greetings {
    font-family: 'Acme', sans-serif;
    color: rgb(51, 104, 190);
    font-size: 25px;
}

.quiz {
    width: 292px;
    height: 271px;
    margin: 10px;
    background-color: rgb(231, 229, 217);
    border: 1px solid rgb(175, 175, 175);
}

.container-greetings {
    margin-left: 50px;
    margin-top: 40px;
}

.container {
    margin-bottom: 100px;
}

.container-quiz {
    background: #FDFCFD;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 10px auto 0;
    cursor: auto;
    width: 900px;
}

.container-quiz-layout {
    background-color: rgba(233, 231, 233, 0.9);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 3px;
    margin: 12px;
}

.quiz-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.quiz-link:hover {
    text-decoration: none;
    color: #4476C5;
}

.quiz-img {
    height: 100%;
    margin-top: 6px;
}

.col {
    text-align: center;
}

.quiz-title {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}
